.sobremi {
    border-radius: 25px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5)
}


/*Medida para celulares (Hasta 767px)*/
@media (max-width: 767px) {
.sobremi {
    margin-left: 0,5rem;
    width: 100%;
    padding: 1;
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: small;
}
}